* {
	margin: 0;
	padding: 0;
}

#tudo {
	width:100%;
	margin:0 auto;
	text-align:left;
	overflow:hidden;
	font-family:verdana;
}

body {
	font-size:12px;
}

h1 {
	font-size:24px;
	margin:40px;
}

.cabecalho {
	width:100%;
	height:150px;
	padding-left:20px;
	padding-top:10px;
	text-align:center;;
	background:#EBEBEB;
	color:#666666;
}

.cabecalho_logo {
	width:280px;
	height:79px;
	float:left;
	background:url(../icons/rosana_logo.png) no-repeat;
}

.cabecalho_linha {
	width:100%;
	height:10px;	
	color:#A8A6A7;
	background:#A8A6A7;
}

.conteudo {
	width:98%;
	padding-left:5%;	
}

h2 {
	font-size:14px;
	display:inline;	
}

form {
	margin-left: 10px;
	display:inline;	
}

.formulario, .clientes {
	margin-left:5%;
	display:block;
	width: 30%;
}

.clientes dl {
	display: table; 
	margin-bottom: 4px;
	margin-right: 20px; 
	float:left;
}
.clientes dl {*width: auto;}

table {color:gray;width:95%}

thead {
	color:white;
	background:red;
}
thead tr td {width:15%;}

.menu {
	text-align:left;
}

a {
	text-decoration:none;
	color:#A8A6A7;
}

a:hover, a.selecionado, .menu a:hover, .menu a.selecionado {
	color: red;
	text-decoration:underline;
}

.botoes {
	width:175px;
	height:52px;
	margin-top:20px;
	margin-bottom:30px;
	margin-left:5%;
	list-style: none !important;
	list-style-type: none !important;
}

.listar {
	position:relative;
	width:50px;
	height:52px;
	background:transparent url(../icons/listar.png) left;
}

.buscar {
	position:relative;
	width:50px;
	height:52px;
	background:transparent url(../icons/buscar.png) left;	
}

.cadastrar {
	position:relative;
	width:50px;
	height:52px;
	background:transparent url(../icons/cadastrar.png) left;
}

ul .listar, .buscar, .cadastrar {
	display:block;
	list-style-type:none;
}

ul li .listar, .buscar, .cadastrar {
	display:block;
	float:left;
	margin:0 5px 0 0;
	list-style:none
}

ul li a .listar, .buscar, .cadastrar {
	display:block;
	float:left;
	text-decoration:none;
	list-style:none;	
}

ul li a:hover .listar,
ul li a.current .listar {
	background:transparent url(../icons/listar.png) right;
	color: inherit;
	text-decoration:inherit;
}

ul li a:hover .buscar,
ul li a.current .buscar {
	background:transparent url(../icons/buscar.png) right;
	color: inherit;
	text-decoration:inherit;
}

ul li a:hover .cadastrar,
ul li a.current .cadastrar {
	background:transparent url(../icons/cadastrar.png) right;
	color: inherit;
	text-decoration:inherit;
}